In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/emman/Documents/tablapesos.csv')

In [5]:
df.drop(['Unnamed: 0'], axis = 1)

           Pais_Out  Sector  Pais_In  Dem_Fin  Descomposicion   Ano      Peso
0                 0       0        0        0               0  1995  12344.00
1                 0       0        0        0               0  1995     25.67
2                 0       0        0        0               0  1995    768.00
3                 0       0        0        0               0  1995   3414.00
4                 0       0        0        0               0  1995   1048.00
...             ...     ...      ...      ...             ...   ...       ...
116354875        66      44       66        5               3  2018      0.00
116354876        66      44       66        5               3  2018      0.00
116354877        66      44       66        5               3  2018      0.00
116354878        66      44       66        5               3  2018      0.00
116354879        66      44       66        5               3  2018      0.00

[116354880 rows x 7 columns]

In [7]:
df.index

TypeError: data type 'int4' not understood